<!-- <h1>Hello from BridgeLabz</h1> UC1
<p>To learn any new language or framework, start with HelloWorld!</p> -->

<!-- <div> UC1_DataBinding
<h1>{{ this.title }}</h1>
</div> -->


<div>
    <h1>
        <!-- UC2 -->
        {{this.title}}  
    </h1>
    <img [src]="imgurl" (click)="onClick($event)"
    alt="The BridgeLabz logo: a bridge to employment"
    />
</div>
<!-- UC3 -->
<button (click)="onClick($event)">Go to Website</button>


<div>
    <h1>
        <!-- UC4 -->
       Hello {{this.userName}} from BridgeLabz
    </h1>
    <img [src]="imgurl" (click)="onClick($event)"
    alt="The BridgeLabz logo: a bridge to employment"
    />
</div>
<div>
    <input [(ngModel)]="userName"/> <br/><br/>
</div>


<div>
    <input (input)="onInput($event)" [(ngModel)]="userName"/>
    <span class=error-output>{{this.nameError}}</span>
</div>
<router-outlet></router-outlet>

